.penguins {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    max-width: 1000px;
    row-gap: 50px
}

.image-style{
  width: 500px;
  height: auto;
}

body{
    background-color: lightsteelblue
}