.penguins {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    max-width: 1000px;
    row-gap: 50px
}

.penguins intro{
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  row-gap: 10px;
  column-gap: 10px;
}

.image-style{
  width: calc(33.333% - 10px);
  height: auto;
}

body{
    background-color: lightsteelblue
}