.penguins {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 600px;
    height: 600px;
}

.image-style{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 600px;
    height: 600px;
}

body{
    background-color: lightsteelblue
}