body {
  background-color: #14025C;
}

header{
  border: 3px #14025C;
  padding: 35px;
  text-align: center;
  background-color: #dff0fb;
}

.chapter-heading{
  border: 3px #14025C;
  padding: 35px;
  text-align: center;
  background-color: #B5E4FF;
}

h1 {
  color: #14025C;
  padding: 50px;
  text-align: center;
}

h2 {
  color: #145575;
  text-align: center;
}

h3 {
  color: #14025C;
  padding: 10px;
  text-align: center;
}

p {
  color: #145575;
  max-width: 60%; /*Paragraph never gets wider than 60% of the screen*/
  margin: 0 auto; /* centers it horizontally Making sure it updates*/
}

h4{
  color: #dff0fb
}

li{
  list-style-type: none;
  color: #dff0fb;
  display: inline-block;
  font-family: Georgia, serif;
}

/* failed to commit */