body {
  background-color: #14025C;
}

.ewert-regular{
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
}

header{
  border: 3px #14025C;
  padding: 35px;
  text-align: center;
  background-color: #dff0fb;
  font-family: 'Ewer', serif;
}

.chapter-heading{
  border: 3px #14025C;
  padding: 35px;
  text-align: center;
  background-color: #B5E4FF;
  font-family: 'Ewer', serif;
}

h1 {
  color: #14025C;
  padding: 50px;
  text-align: center;
  font-family: 'Ewer', serif;
}

h2 {
  color: #145575;
  text-align: center;
  font-family: 'Ewer', serif;
}

h3 {
  color: #14025C;
  padding: 10px;
  text-align: center;
  font-family: 'Ewer', serif;
}

p {
  color: #145575;
  max-width: 60%; /*Paragraph never gets wider than 60% of the screen*/
  margin: 0 auto; /* centers it horizontally Making sure it updates*/
  font-family :Sans-serif
}

h4{
  color: #dff0fb
}

a{
  list-style-type: none;
  color: #B5E4FF;
  display: inline-block;
  font-family: Georgia, serif;
  text-align: center;
}

nav{
  list-style-type: none;
  color: #B5E4FF;
  display: inline-block;
  font-family: Georgia, serif;
  text-align: center;
}

.center-image{
  background-color: #dff0fb;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.center-bird{
  background-color: #dff0fb;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

form{
  background-color:#dff0fb;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #14025C;
  width: 75%;
  margin: 0 auto;
}

fieldset{
  border: none;
  padding: 0;
}

legend{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

label{
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"]
input[type="email"]
input[type="radio"]
input[type="checkbox"]

input[type="text"],
  input[type="email"],
  select{
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid #14025C;
    border-radius: 5px;
    box-sizing: border-box;
  }

button{
  margin-top: 20px;
  background-color:#dff0fb;
  color:#145575;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover{
  background-color:#dff0fb;
}

table{
  width: 78%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color:#dff0fb;
  border: 1px solid #14025C;
  border-radius: 4px;
}

th, td{
  padding: 12px;
  border: 1px solid #14025C;
  text-align: left;
}

th{
  background-color:#dff0fb;
  font-weight: bold;
  color:#145575
}

p2{
  display: block;
  margin-top: 15px;
  font-weight: bold; 
}

time{
  color:#B5E4FF
}

#gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  row-gap: 10px;
  column-gap: 10px;
}

#gallery img{
  width: calc(33.333% - 10px);
  height: auto;
}






@media (max-width: 600px){
  body{
    font-size: 14px;
    padding: 10px;
  }

  li{
    display: center;
    margin: 10px 0;
  }

  nav{
    text-align: center;
  }

  header, .chapter, footer{
    padding: 10px;
  }
}